# Time Analysis

This notebook contains time analysis for statistical sampling based estimators vs. the proposed framework.

In [1]:
from time import perf_counter
import sys
sys.path.insert(0, './../')

from estimators import GEE, AE, UJ2A, SGD, PA, RLS
from visualization import time_estimate, time_fit, time_predict
from preprocessing import TraceStats

In [2]:
statistical = [GEE('GEE'), AE('AE'), UJ2A('UJ2A')]


features = ['f_1', 'f_2', 'f_3', 'avg_pkt_len', 'syn_count']
online_ml = [SGD('SGD', features, 1),
             PA('PA', features, 1),
             RLS('RLS', features, 1)]

In [3]:
ts = TraceStats.load('./../data/caida-2016_100K_0.1000.pickle')

In [4]:
time_estimate(ts, statistical)

      avg_time  max_time  min_time
AE    0.002623  0.004925  0.001907
GEE   0.000007  0.000063  0.000005
UJ2A  0.000049  0.000138  0.000040

In [5]:
time_fit(ts, online_ml, features)

     avg_time  max_time  min_time
RLS  0.000029  0.000063  0.000026
PA   0.000044  0.000146  0.000034
SGD  0.000029  0.000158  0.000023

In [6]:
time_predict(ts, online_ml, features)

     avg_time  max_time  min_time
RLS  0.000004  0.000008  0.000003
PA   0.000009  0.000020  0.000008
SGD  0.000010  0.000063  0.000007